{% extends 'base.html.twig' %}

{% block title %}session d'enchère inexistante{% endblock %}

{% block body %}
    <div style="height:200px">
        <h1 style="text-align: center">
            <strong>Il n'existe pas de session d'enchère en ce moment !!!</strong>
        </h1>
    </div>
    <div class="center">
        <img width="30%" height="15%" style="display:block; margin-left: auto; margin-right: auto;"
             src="{{ asset('sessionNonValide.PNG')}}" alt="session d enchère non-valide">
    </div>
{% endblock body %}
