{% extends 'base.html.twig' %}

{% block title %}enchère innexistante{% endblock %}

{% block body %}
    <h1><strong>Il n'existe pas de session d'enchère en ce moment</strong></h1>
{% endblock body %}
