body {
  background-color: white;
}

.cercle_vert {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: green;
}

.cercle_rouge {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: red;
}

.cercle_orange {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: orange;
}