{% extends 'base.html.twig' %}

{% block title %}Enchère sur les prix de produits par les fournisseurs{% endblock %}
{% block stylesheets %}
<div class="app-bar pos-absolute bg-black z-1" >
    <img width="100px" height="50px" src="{{ asset('logoCentrale.PNG')}}" style="position:center;top:-10px" alt="#">
</div>
{% endblock %}
{% block body %}
    <div class="table table-border cell-border"></br>
        <p><table class="table table-border cell-border">
            <thead>
            <tr>
                <th colspan="2"><strong>Produits</strong><input type="text" value="recherche produits" style="height: 30px; width: 200px; float:right;"></th>
                <th><strong>Proposition Prix</strong></th>
                <th><strong>Position</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Reference</td>
                <td>Quantité de produits</td>
                <td><input type="text" value="Nouveau prix" style="height: 30px; width: 200px; "></td>
                <td>Pastille</td>
            </tr>
            <tr>
                <td>Reference</td>
                <td>Quantité de produits</td>
                <td><input type="text" value="Nouveau prix" style="height: 30px; width: 200px;"></td>
                <td>Pastille</td>
            </tr>
            <tr>
                <td>Reference</td>
                <td>Quantité de produits</td>
                <td><input type="text" value="Nouveau prix" style="height: 30px; width: 200px;"></td>
                <td>Pastille</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
