{% extends 'base.html.twig' %}

{% block title %}Enchères{% endblock %}
{% block stylesheets %}
<br><div class="app-bar pos-absolute bg-black z-2" >
    <div class="cell-md-4"><img width="100px" height="60px" src="{{ asset('logoCentrale.PNG')}}" style="position:center;top:-10px" alt="#"></div>
    <div class="cell-md-5 pos-fixed pos-top-right">
        <h2 style ="color: #FFFFFF; text-align: left;">{{ data.numeroSemaine }} {{ data.annee }}</h2>
    </div>
</div>
{% endblock %}
{% block body %}
    <div class="table table-border cell-border"><br>
        <p><table class="table table-border cell-border">
            <thead>
            <tr>
                <th colspan="2"><strong>Liste des Produits</strong>
                    <label>
                        <input type="text" value="recherche produits" style="height: 30px; width: 200px; float:right;">
                    </label>
                </th>
                <th><strong>Proposition Nouveau Prix</strong></th>
                <th><strong>Votre Position</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Reference</td>
                <td>Quantité de produits</td>
                <td>
                    <label>
                        <input type="text" value="Nouveau prix" style="height: 30px; width: 200px; ">
                    </label>
                </td>
                <td>Pastille</td>
            </tr>
            <tr>
                <td>Reference</td>
                <td>Quantité de produits</td>
                <td>
                    <label>
                        <input type="text" value="Nouveau prix" style="height: 30px; width: 200px;">
                    </label>
                </td>
                <td>Pastille</td>
            </tr>
            <tr>
                <td>Reference</td>
                <td>Quantité de produits</td>
                <td>
                    <label>
                        <input type="text" value="Nouveau prix" style="height: 30px; width: 200px;">
                    </label>
                </td>
                <td>Pastille</td>
            </tr>
            </tbody>
        </table>
        <button class="button success outline rounded place-right">Valider</button>

    </div>
{% endblock %}
